<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>UTTN Resumes</name>
    <description>Find resumes of UTTN students, contact them, and hire your next future professional.</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        UTTN Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

</widget>
